<footer class="bg-dark text-center text-dark">
  <section class="mb-2 footer-icons-group">
    <button type="button" class="btn btn-outline-light button-details m-1" onclick="window.location.href='/todos'"><i class="fas fa-angle-left btn-icon"></i></button>
  </section>
</footer>
</body>
</html>
