<footer class="bg-dark text-center text-dark">
  <section class="mb-2 footer-icons-group">
    <button type="button" class="btn btn-outline-light button-details m-1" onclick="window.location.href='/todos'"><i class="fas fa-angle-left btn-icon"></i></button>
    <button type="button" class="btn btn-outline-light button-details m-1" onclick="window.location.href='/todos/<%=todo._id%>/edit'"><i class="fas fa-edit"></i></button>
    <form action="/todos/<%=todo._id%>?_method=DELETE" method="POST">
      <button class="button btn btn-outline-danger button-details m-1"><i class="fas fa-trash-alt btn-icon"></i></button>
    </form>

  </section>
</footer>
</body>
</html>
