<footer class="bg-dark text-center text-dark">
  <div class="container p-2">
    <section class="mb-2 footer-icons-group">
      <a class="btn btn-outline-light btn-floating m-1 footer-icon" href="#!" role="button"><i class="fab fa-github"></i></a>
      <a class="btn btn-outline-light btn-floating m-1 footer-icon" href="#!" role="button"><i class="fas fa-code"></i></a>
    </section>
  </div>
</footer>
</body>
</html>
