body {
margin: 0 auto;
padding: 0;
border-style: border-box;
}

/* .list-group-item {
  width: 20%;
}
*/
.icon {
  position: absolute;
  right: 5%;
  top: 37%;
} 

.btn-icon {
  display: block;
  width: 10px;
  height: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}



