<%- include('../partials/head')%>

    <div class="parent-details-section">
   
      <h1 class="display-4 text-center mt-3 mb-3"><%= todo.name %></h1>
      <p class="lead text-left"> - <%= todo.details %></p>

  </div>
  
  <%- include('../partials/footer-details')%>