<%- include('../partials/head')%>
  <body>
    <h1>Edit '<%= todo.name %>'</h1>
    <form action="/todos/<%=todo._id%>?_method=PUT" method="POST">
      <input type="text" name="name" id="name" placeholder="todo" />
      <input type="details" name="details" id="details" placeholder="details" />
      <br />
      <button type="submit" class="btn-submit">Submit</button>
    </form>
    <button class="btn-cancel">
      <a href="/todos/<%=todo._id%>">Cancel</a>
    </button>
  </body>
</html>
