<%- include('../partials/head')%>

  <body>
    <h1>Todo</h1>
    <ul class="list-group">
      <% for(let todo of todos){ %>
        <li class="list-group-item list-group-item-action"> <%= todo.name %><a href="/todos/<%=todo._id%>"><i class="fas fa-plus icon"></i></a></li>
        
        <% } %>
    </ul>
<div class="form-container">
  <form action="/todos" method="post" class="todo-form">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="name" id="name" placeholder="name@example.com">
      <label for="floatingInput">Todo</label>
    </div>
    <div class="form-floating">
      <textarea class="form-control" name="details" placeholder="Leave a comment here" id="details"></textarea>
      <label for="floatingTextarea">Add more details...</label>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

  </body>
  </html>